.d-header {
    .wrap {
        max-width: 1110px;
    }
}

.cooked, .d-editor-preview {
    line-height: 1.6;
}

button#login-link, button#new-account-link {
    line-height: 19px;
}

.select-kit.dropdown-select-box.period-chooser .period-chooser-header {
    padding: 0 14px;

    #list-area .top-lists h2 {
        margin: 0;
    }
}